@charset "ISO-8859-1";
.signup-box{
    width:360px;
    height:550px;
    margin:auto;
    background-color: aliceblue;
    border-radius:15px;
}
.login-box{
    width:360px;
    height:280px;
    margin:auto;
    background-color:aliceblue;
    border-radius:6px ;
    
}

h1{
    text-align:center;
    padding-top:15px;
}
form{
    width:300px;
    margin-left:20px;
}
form label{
    display:flex;
    margin-top:20px;
    font-size:18px;
}
form input{
    width:100%;
    padding:7px;
    border:none;
    border:1px solid gray;
    border-radius: 6px;
    outline:none;
}
input[type="submit"]{
    width: 320px;
    height:35px;
    margin-top: 20px;
    border:none;
    background-color: #49c1a2;
    color:white;
    font-size:18px;
}
p{
    text-align: center;
    color:black;
    font-size: 15px;
    margin-top: 30px;
}
.para{
    text-align: center;
    color:black;
    font-size: 15px;
    margin-top: 15px;
}
.vendor .box_container{
    display:flex;
    align-items: center;
    justify-content:center; 
    flex-Wrap:Wrap;
}

.vendor .box-container .box{
    display: inline-flex;
    flex:1 1 3rem;
    margin:1rem;
    overflow:hidden;
    position:relative;
    border-radius:10px;
    box-shadow:0 .5px 1px rgba(0,0,0,.9);
    height:500px;
    width:550px;
    margin-left: 70px;
    cursor:pointer;
}
.vendor .box-container .box img{
    height:650px;
    width:650px;
    object-fit:cover;
}
.box-container .box .info{
    display:flex;
    flex-flow:column;
    align-items: center;
    justify-content: center;
    position:absolute;
    top:0;
    left:0;
    height:650px;;
    width:650px;
    background: rgba(255,255,255,.9);
    transform: scale(1.3);
    opacity:0;
}
.box-container .box:hover .info {
    transform:scale(1);
    opacity:1;
}
.box-container .box:hover img{
    transform: scale(1.3);

}
.box-container .box .info h3{
         font-size:50px;
         color:black;
         text-align: center;
}
.venue{
	display:inline-flex;
}
.venue .for-inline{
    
    margin:1rem;
    position:relative;
    overflow: hidden;
    border-radius:10px;
    box-shadow:0 .5px 1px rgba(0,0,0,.9);
    height:300px;
    width:350px;
    margin-left: 40px;
    cursor:pointer;
}
.image-container img{
	
    height:200px;
    width:350px;
    object-fit:cover;
}
.venue .image-container .title{
    text-align: justify;

}
